.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

@media screen and (max-width: 420px) {
  div.row {
    margin-top: 0;
  }
}


/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

@media screen and (max-width: 420px) {
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 55%;
    margin: 0 23% 2% 23%;
  }

  #lezioni .row>.left > h3,
  #lezioni .row>.right > h3 {
    margin: 0;
  }

  #lezioni .row>.right > img {
    margin-top: 2%;
  }

  #lezioni div.row {
    background-color: rgb(242, 242, 205);
  }
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

@media screen and (max-width: 420px) {
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 55%;
    margin: 0 23%;
  }

  #steps .row>.left h3,
  #steps .row>.central h3,
  #steps .row>.right h3 {
    margin: 0;
  }

  #steps .row>.central img,
  #steps .row>.right img {
    margin-top: 5%;
  }
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (max-width:420px) {
  div#steps, .container.gray {
    background-color: white;
  }
}